// Design Tokens

// Colors
$background: #ffffff;
$foreground: #171717;
$primary-accent: #0070f3;

$dark-background: #0a0a0a;
$dark-foreground: #ededed;

// Greys
$grey-100: #fafafa;
$grey-200: #eaeaea;
$grey-600: #666;
$grey-50: #f8f8f8;
